.box{
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    padding: 25px;
    /* column-gap: 50px; */
    background-color: aqua;
    border-radius: 20px;
    
    
    
}

.button{
    border: 2px solid black;
    width: 100px;
    padding: 20px;
    border-radius: 20px;
    margin: 15px;
    cursor: pointer;

    
    
}
#grey{
    background-color: grey;
}
#black{
    background-color: black;
    color: white;
}
#white{
    background-color: white;
}
#Green{
    background-color: green;
}

body{
    display: flex;
    padding: auto;
    justify-content: center;
    margin-top: 20%;
    background-color: yellow;
    /* align-items: center; */
    /* align-content: center; */
}